.burgerConstructor {
  width: calc(50% - 20px);
  padding-bottom: 52px;
  height: calc(100% - 112px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.burgerElements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 192px;
  max-height: 100%;
}

.burgerFilling {
  max-height: calc(100% - 80px - 16px - 80px - 16px);
}

.burgerFillingList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 100%;
  order: 1;
}

.burgerFillingElement {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.bunTop {
  order: 0;
}

.bunBottom {
  order: 2;
}

.info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.sum {
  display: flex;
  align-items: center;
  gap: 9px;
}