.content {
  padding-top: 120px;
  display: flex;
}

.navigate {
  display: inline-flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  /*color: #8585AD;*/
  min-height: 64px;
  min-width: 320px;
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

