.content {
  display: flex;
}

.navigate {
  padding-top: 80px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.navItem {
  text-decoration: none;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.navExit:hover {
  color: var(--text-inactive-color);
}

.menu {
  width: 320px;
  min-width: 320px;
  margin-right: 60px;
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
