.statistics {
  width: 50%;
  overflow: auto;
  box-sizing: border-box;
}

.ordersStatuses {
  display: flex;
  justify-content: space-between;
}

.ordersStatus {
  width: 272px;
}

.listOrders {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: column;
  margin: 0;
  max-height: 190px;
}

.orderNumberDone {
  color: var(--colors-interface-success);
}

.ordersCount {
  text-shadow:
    0 4px 32px rgba(51, 51, 255, 0.5),
    0 0 8px rgba(51, 51, 255, 0.25),
    0 0 16px rgba(51, 51, 255, 0.25);
}
