@font-face {
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Jet Brains Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


