.tabs {
  display: flex;
}

.ingredientsList {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.burgerIngredients {
  width: calc(50% - 20px);
}

.ingredientsTypesList {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: calc(100% - 40px - 56px - 40px - 40px);
}

