.navigate {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.link .active {
  color: var(--text-primary-color);
}

.logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
}

