.navigate {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1C1C21;
}

.link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #F2F2F3;
}

.logo {
  margin: 0 auto;
  position: absolute;
  width: fit-content;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

